
<div class="modal fade" id="beneficiariosModal" tabindex="1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Beneficiários</h4>
            </div>
            <div class="modal-body">
                <form id="formCadastroBeneficiario" method="post">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="CPFBeneficiario">CPF:</label>
                                <input required="required" type="text" class="form-control" id="CPFBeneficiario" name="CPFBeneficiario" placeholder="Ex.: 010.100.011-10" maxlength="14" onfocusout="ValidaCPF(this);">
                                <div id="errorCPFBeneficiario" class="formError"></div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="NomeBeneficiario">Nome:</label>
                                <input required="required" type="text" class="form-control" id="NomeBeneficiario" name="NomeBeneficiaro" placeholder="Ex.: João" maxlength="50">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="btn btn-lg"></div>
                            <button type="button" class="btn btn-success">Incluir</button>
                        </div>
                    </div>
                </form>
                <div class="container-fluid" id="gridBeneficiarios">
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
</div>
